---
import '../styles/global.css';
import Hero from '../components/Hero.astro';
import Cards from '../components/Cards.astro';
import { CardData } from '../logic/structs';
import { CardDataItem } from '../logic/structs';
import Timeline from '../components/Timeline.astro';

import { base } from 'astro:config/client';
 // import Navigation from '../components/Navigation.astro';

import Base from "../layouts/Base.astro"



function getCards(): CardData[] {
  return [
    { title: "Programmering", link: `${base}/programming`, items: [
      { description: "Webutveckling i Javascript/Typescript" }, 
      { description: "SQL databaser i Rust" }, 
      { description: "Grafik och spel i C++/Python" }, 
    ] },
    { title: "Digitalt skapande", link: `${base}/creative`, items: [
      { description: "Grundläggande videoredigering, filming och fotografering" }, 
      { description: "3D modellering i Blender" }, 
      { description: "Infografik baserad på vektorgrafik" }, 
    ] },
    { title: "Naturvetenskap", items: [
      { description: "Läst fysik 1 och 2" }, 
      { description: "Läst matematik 5 och specialisering" }, 
    ] },
  ];
}



const eduTimelineItems = [
  {
    date: "2013-2017",
    title: "Söraskolan",
    description: "",
  },
  {
    date: "2017-2023",
    title: "Fredsborgskolan",
    description: "",
  },
  {
    date: "2023-2026",
    title: "Täby Enskilda Gymnasium",
    description: "Naturvetenskap",
  },
];



const workTimelineItems = [
  {
    date: "2025, 2026",
    title: "Österåkers kommun",
    description: "Finskt sommarläger + videoproduktion",
  },
];



---

<Base>
  <Hero name="Oscar Kristensson" description="Glad och nyfiken student" img={base + "/oscar.png"} />

  <section class="bar centered">
    <h2>Färdigheter</h2>
    <Cards items={getCards()}/>
  </section>



  <section class="bar centered">
    <h2>Utbildning</h2>
    <Timeline items={eduTimelineItems}/>
  </section>


  <section class="bar centered">
    <h2>Jobb</h2>
    <Timeline items={workTimelineItems}/>
  </section>





</Base>