---
import '../styles/global.css';

import { base } from 'astro:config/client';
import Project from '../components/Project.astro';

import Base from "../layouts/Base.astro"
import Cards from '../components/Cards.astro';
import { CardData } from '../logic/structs';
import Timeline from '../components/Timeline.astro';


function getCards(): CardData[] {
  return [
    { title: "C++", items: [
      { description: "Spelprogrammering med Raylib" }, 
      { description: "Grundläggande GPU rendering med OpenGL" }, 
    ] },
    { title: "Python", items: [
      { description: "Spelprogrammering med Pygame" }, 
      { description: "Skripting" }, 
    ] },
    { title: "Webbutveckling", items: [
      { description: "Statiska hemsidor" }, 
      { description: "Utveckling av gränssnitt för såväl Tauri som Electron appar" }, 
    ] },
    { title: "Rust", items: [
      { description: "Utveckling av Tauri appar" }, 
      { description: "Hantering av databaser med rusqlite" }, 
    ] },
  ];
}

const programmingTimeline = [
  {
    date: "ca 2017",
    title: "Mitt första program",
    description: 'Jag "skriver" mitt första prorgam i Scratch',
  },
  {
    date: "ca 2019",
    title: "Python",
    description: "Jag börjar lära mig textbaserad programmering i Python",
  },
  {
    date: "2022",
    title: "Mitt första Pygame spel",
    description: "Jag programmerar mitt första pygame spel för att kunna spela under Covid-19 pandemin.",
  },
  {
    date: "2024",
    title: "ChemistryCalculator",
    description: "Jag programmerar ett verktyg för stökiometri, vilket är min första statiska hemsida.",
  },
  {
    date: "2025",
    title: "Ollama och API:s",
    description: "Jag utvecklar en app som bygger på Ollama API:n",
  },
  {
    date: "2025",
    title: "C++ och Raylib",
    description: "Jag tar steget till att utveckla spel i C++ med Raylib",
  },
  {
    date: "2026",
    title: "Databaser",
    description: "Jag börjar utveckla ett program för att lagra information om aktier",
  },
];


---




<Base title="Home">
  <section class="bar centered">
    <h2>Mina programmeringskunskaper</h2>
    <Cards items={getCards()} />
  </section>

  <section class="bar centered">
    <h2>Mina programmeringsprojekt</h2>

    <Project
      src={`${base}/pages/projects/chemistryCalculator.png`}
      heading='ChemistryCalculator'
      ghURL = "https://github.com/Oscar-Kristensson/ChemistryCalculator"
      previewURL='https://oscar-kristensson.github.io/ChemistryCalculator/'

    >
      <p>
        Kemikalkylatorn utvecklades för att underlätta och automatisera stökiometriska 
        beräkningar på olika reaktioner. Kalkylatorn är mycket omtyck bland 
        klasskamraterna då den underlättar vid kontroll och felsökning av beräkningar. 
        Projektet är även min första riktiga statiska hemsida och under projektets 
        gång lärde jag mig mycket om hemsidors struktur och javascript. Projektet är 
        dessutom ett av mina favoritprojekt då det effektivt löste ett problem i kemin 
        och jag har därmed haft mycket nytta av programmet.
      </p>
      <p>
        Kalkylatorn bygger på en algoritm implementerad i javascript som undersöker om 
        ett nytt värde kan bestämmas och fortsätter fylla i nya värden i tabellen så 
        långt som möjligt.   
      </p>
    </Project>

  </section>

  <section class="bar centered">
    <Project
      src={`${base}/pages/projects/boardGame.png`}
      heading='BoardGame'
      ghURL = "https://github.com/Oscar-Kristensson/BoardGame"
      rightText={true}

    >
      <p>
        BoardGame är program där olika brädspel kan läggas in genom att konfigurera 
        textfiler. Programmet är uppbyggt med C++ och Raylib med support för Windows, 
        Mac och Linux tack vare att programmet är baserat på CMake. 
      </p>
    </Project>
  </section>
  <section class="bar centered">
    <Project
      src={`${base}/pages/projects/stockDB.png`}
      heading='StockDB'
      ghURL = "https://github.com/Oscar-Kristensson/StockDB"
      rightText={false}

    >
      <p>
        StockDB är ett program för att kunna lagra data om aktier och snabbt kunna 
        överblicka dessa. Programmet är byggt med en hemsida byggd med HTML, CSS och 
        Typescript samt ett interface till en SQLite databas i Rust med hjälp av 
        rusqlite. Programmet är just nu under utveckling. Mer information om programmets 
        uppbyggnad finns i /docs foldern på GitHub.
      </p>
      <p>
        Målet med programmet är att snabbt kunna överblicka och identifiera köpvärda 
        aktier baserad på långsiktiga fakta om företaget. 
      </p>
    </Project>
  </section>


  <section class="bar centered">
    <h2>Min utveckling inom programmering</h2>
    <p class="capWidth">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ea illo inventore voluptas perferendis, dolores error eligendi tempora quia molestias, asperiores modi sed cupiditate facere, fuga corrupti aliquam minima quidem?
    </p>

    <Timeline items={programmingTimeline}/>
    
  </section>

</Base>