---
interface Props {
  src: string;
  heading: string;
  ghURL?: string,
  previewURL?: string,
  rightText?: boolean,
}

const { src, heading, ghURL, previewURL, rightText = false } = Astro.props;

import Button from "../components/Button.astro"
import { base } from 'astro:config/client';

---

<div class:list={["project", { rightText: rightText }]}>
  <h3 class="heading">{heading}</h3>

  <div class="content">
    <slot />
  </div>
  <img src={src} alt={`An image of ${heading}`} />

  <div class="panel">
    <div class="buttons">
      {ghURL && <Button icon={base + "/vendor/ghLogo.svg"} link={ghURL} >Se på GitHub</Button>}
      {previewURL && <Button icon={base + "/arrow.svg"} link={previewURL} arrowIcon={true}>Testa här</Button>}
    </div>
  </div>

</div>

<style>
  .project {
    display: grid;
    grid-template-areas:
      "heading image"
      "text image"
      "panel panel";

    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto 1fr auto;
    max-width: 1200px;
    column-gap: 32px;

    
  }

  .project.rightText {
    grid-template-columns: 3fr 2fr;

    grid-template-areas:
      "image heading"
      "image text"
      "panel panel";
  }

  .project .heading {
    margin-bottom: 0;
  }

  .project .buttons {
    display: flex;
    gap: 16px;
  }
  .project .panel {
    display: flex;
    margin-top: 16px;
  }

  .project .info {
    display: flex;
    width: max-content;
  }


  img {
    width: 100%;
    height: auto;
    grid-area: image;
  }

  .project .content {
    grid-area: text;
    line-height: 2;
  }

  


@media (max-width: 600px) {
  .project {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-right: 16px;
  }

  .project .buttons {
    flex-direction: column;
  }

  .project .panel {
    justify-content: center;
    margin-top: 16px;
  }
}



</style>